[submodule "alkahest/lib/fmt"]
	path = alkahest/lib/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "alkahest/lib/glfw"]
	path = alkahest/lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "alkahest/lib/gl3w"]
	path = alkahest/lib/gl3w
	url = https://github.com/skaslev/gl3w.git
[submodule "alkahest/lib/glm"]
	path = alkahest/lib/glm
	url = https://github.com/g-truc/glm.git
